<div class="page-container">
  <header class="page-header">
    <h1>The Revoker</h1>
    <p><b>Found a leaked token?</b><br/> Use this tool to immediately revoke it and notify its owner.</p>
    <p>You may also want to claim a <%= link_to "security bounty", "https://security.hackclub.com", target: "_blank" %> if the token powers an official Hack Club HQ service.</p>
    <details class="token-types-list">
      <summary>Supported token types</summary>
      <ul>
        <% @token_types.each do |t| %>
          <li>
            <span class="token-name"><%= t[:name] %></span>
            <% if t[:hint] %>
              <span class="token-hint"><code><%= t[:hint] %></code></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </details>
  </header>

  <% if flash[:error] %>
    <div class="alert alert-error"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>

  <div id="revocation-form-root"></div>
</div>

<script type="application/json" id="token-types"><%= @token_types.to_json.html_safe %></script>

<%= vite_stylesheet_tag "revocation_form.ts" %>
<%= vite_javascript_tag "revocation_form.ts" %>
